.profileContainer {
  width: 100%;
}

.container {
  display: flex;
  flex-wrap: wrap;

  .emptyContainerTitle {
    color: var(--t-color);
    text-align: center;
    font-weight: 400;
    font-size: 30px;
    margin: 0 auto;
  }
}

:globar(.makeStyles-root-9 > header > div) {
  background-color: var(--bg-color-32);
}

.editContainer {
  display: flex;
  flex-direction: column;
}

.optionsContainer {
  display: flex;
  justify-content: space-between;
  padding: 0 35px 0 35px;
  margin-bottom: 20px;

  #deleteButton {
    color: rgb(253, 91, 118);
    cursor: pointer;
    &:hover {
      color: red;
    }
  }

  #editButton {
    color: var(--header-color);
    cursor: pointer;
    &:hover {
      color: rgba(82, 174, 250, 0.911);
    }
  }
}

.profileInfo {
  background-color: var(--bg-color-32);
  padding: 20px 0 20px 150px;
  display: flex;
  align-items: center;

  .icon {
    box-sizing: border-box;
    font-size: 40px;
    font-weight: 600;
    background-color: rgb(255, 166, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    margin: 0 8px;
    border-radius: 50%;
    overflow: hidden;
  }

  .infoBox {
    color: var(--tit-color);
    margin-left: 20px;
    .names {
      font-size: 30px;
      font-weight: 600;
    }

    .email {
      padding-top: 10px;
      font-size: 20px;
    }
  }
}
